@media (max-width: 768px) {
    .container{
        width: 90%;
    }
    .product-title{
        font-size: 40px;
    }
}

@media(max-width: 375px){
    .container{
        width: 90%;
    }
    .header {
        display: flex;
        align-items: center;
    }
}